<!DOCTYPE html>
<html>

  <head>
    <% content_for :head do %>
    <meta property="fb:app_id"          content="479820998782220" /> 
    <meta property="og:type"            content="Chef29:post" /> 
    <meta property="og:url"             content='<% "http://wwww.chef29.com/" + pin_path(@pin) %>' /> 
    <meta property="og:description" content='<%= @pin.description %>' />
    <meta property="og:title" content='<%= @pin.name %>' />
    <meta property="og:image" content='<%= @pin.image %>' />
   

  <% end %>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
</head>

<a href="http://www.chef29.com/users/sign_up" ><img src="http://farm6.staticflickr.com/5473/11702801596_4cc5a0cdb8_o.png" width="1170" height="214" alt="new"></a>
<br><br>

<div class="row">
  <div class="span8 offset2">
      <div class="well">

  <center> <%= image_tag @pin.image%> </center>

<% if @pin.yt_video_id.present? %>
    <hr>
   <center>  <div class="flex-video widescreen"><iframe width="600" height="350" src="//www.youtube.com/embed/<%= @pin.yt_video_id %>"frameborder=”0″ allowfullscreen></iframe></center>
  <% else %>
<% end %>
  
<% if @pin.instapid.present? %>
  <hr>
   <center><div class="flex-instagram widescreen"><iframe src="//instagram.com/p/<%= @pin.instapid %>" width="612" height="710" frameborder="0" scrolling="no" allowtransparency="true"></iframe></center>
  <% else %>
<% end %>

<% if @pin.instaid.present? %>
  <hr>
   <center><div class="flex-instagram widescreen"><iframe src="//instagram.com/p/<%= @pin.instaid %>" width="612" height="710" frameborder="0" scrolling="no" allowtransparency="true"></iframe></center>
  <% else %>
<% end %>

<% if @pin.vineid.present? %>
  <hr>
   <center><div class="flex-vine widescreen"><iframe class="vine-embed" src="https://vine.co/v/<%= @pin.vineid %>" width="600" height="700" frameborder="0"></iframe><script async src="//platform.vine.co/static/scripts/embed.js" charset="utf-8"></script></center>
  <% else %>
<% end %>

<p><b><h3><%= @pin.name %></h3></b>  </b></p> 
  <hr>  
<p> <font size="3"><%= simple_format(@pin.description) %></font></p>
  <hr>
<p><b>Posted By:  </b> <%= @pin.user.name %>
<br>
<%= @pin.created_at%></p>
<%= @pin.category.name %></p>

<% if current_user == @pin.user %>
  <%= link_to '編輯', edit_pin_path(@pin) %>

<% end %>
   
  <%= link_to '上一頁', pins_path %>

        </a>
      </div>
    </ul>
  </div>
</div>
<br>
<a href="http://www.chef29.com/users/sign_up" ><img src="http://farm6.staticflickr.com/5473/11702801596_4cc5a0cdb8_o.png" width="1170" height="214" alt="new"></a>

<hr>

 <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'chef29'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
   
    
  <center>
<div class="row-fluid">
  
  <div class="span3"  >
    <center>
    
   <a href="http://www.chef29.com/users/sign_up" ><img src="https://farm3.staticflickr.com/2830/13400108224_ede3d928a7.jpg" width="225" height="250" alt="jointoday"></a>

  </center>
</div> 

  <div class="span3">
    <center>
 <a href="http://www.chef29.com/onmenu" ><img src="https://farm4.staticflickr.com/3782/13399873843_4180194a3e.jpg" width="225" height="250" alt="Menu"></a> 
</center>
  </div> 


  <div class="span3">
  <center>
<a href="http://www.chef29.com/how"><img src="https://farm8.staticflickr.com/7279/13400107704_bb215ac8c6.jpg" width="225" height="301" alt="howtobuy"></a>

</center>
  </div>

   <div class="span3"><center>
  <a href="http://www.chef29.com/orderlists/new" ><img src="https://farm4.staticflickr.com/3798/13399751675_49fea54123.jpg" width="225" height="380" alt="kart"></a>
</center>

  </div>

</div>

</center>
    
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=1421303274749826";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44036574-1', 'chef29.com');
  ga('send', 'pageview');

  <script type="text/javascript">stLight.options({publisher: "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
var options={ "publisher": "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin", "googleplus", "pinterest", "baidu", "email", "blogger"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>

</script>
</body>


