<tr>

	<td><%= orderlist.id %></td>
	<td> <%= orderlist.created_at %></td>
	<td> <%= link_to orderlist.user.name, orderlist.user%></td>
	<td> <%= link_to orderlist.user.email, orderlist.user%></td>
	<td><%= link_to '訂單細節', orderlist %></td>


  
</tr>