<!DOCTYPE html>
<html>

<br><br>
<center>
 <font color="gray" size ="6" face = "Baskerville Old Face">一週水果箱 </font>

 <br><br> <br><br>

  </font>
</center>


<head>
  <% content_for :head do %>
    <meta property="fb:app_id"          content="479820998782220" /> 
    <meta property="og:type"            content="website" /> 
    <meta property="og:url"             content="http://www.chef29.com/fruit" /> 
    <meta property="og:title"           content="Chef29 今晚大廚 《一周水果箱》" /><meta property="og:description"     content="Chef29 今晚大廚 為您採買一週的水果份量，包裝好後送到您府上，您也可以把水果箱當禮盒送人。每當您購買一份水果箱，我們也會給出一餐或足夠一餐的金額幫助弱勢朋友與貧困兒童。" /> 
    <meta property="og:image"           content="https://farm6.staticflickr.com/5251/14001503961_a05c3f5225_o.png" /> 
<% end %>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>
  <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>
</head>

<center>
<div class="row-fluid">
  
  <div class="span3"  >
    <center>
    
   <a href="http://www.chef29.com/users/sign_up" ><img src="https://farm3.staticflickr.com/2830/13400108224_ede3d928a7.jpg" width="225" height="250" alt="jointoday"></a>

  </center>
</div> 

  <div class="span3">
    <center>
 <a href="http://www.chef29.com/onmenu" ><img src="https://farm4.staticflickr.com/3782/13399873843_4180194a3e.jpg" width="225" height="250" alt="Menu"></a> 
</center>
  </div> 


  <div class="span3">
  <center>
<a href="http://www.chef29.com/how"><img src="https://farm8.staticflickr.com/7279/13400107704_bb215ac8c6.jpg" width="225" height="301" alt="howtobuy"></a>

</center>
  </div>

   <div class="span3"><center>
  <a href="http://www.chef29.com/orderpage" ><img src="https://farm4.staticflickr.com/3798/13399751675_49fea54123.jpg" width="225" height="380" alt="kart"></a>
</center>

  </div>

</div>

</center>

<br><br>

<body>
<center>

<img src="https://farm6.staticflickr.com/5527/14247809832_7bb9dd9279_o.jpg" width="1347" height="447" alt="Schedule">
</center>
 <br><br> 
<hr>
<br><br><br>

<img src="https://farm3.staticflickr.com/2925/14239810833_5ed4a05c15_o.jpg" height="1262" alt="fruit box description"></a>
<br><br><br>


<img src="https://farm8.staticflickr.com/7024/14004105925_a4c1b69336_b.jpg" width="1400" height="200" alt="1. Week Nov 8th" href="#video1" data-toggle="modal">


<div id="video1" class="modal fade" tabindex="-1" data-width="500" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">水果箱 《如何訂購》</h4>
  </div>

  <div class="modal-body">
   <center>
<br><br>
<img src="https://farm6.staticflickr.com/5556/14250097925_3f518fba0e_o.jpg" width="1168" height="912" alt="1 nov 8th full">
</center>
  </div>
</div>
<br><br>
</div>
<br><br>

<hr>

<br><br>

<img src="https://farm3.staticflickr.com/2929/14000771482_9482dab1db_o.jpg" width="1192" height="2280" alt="fruit pics"></a>

<br>
<br>
<br>
<br>

<center>
<div class="row-fluid">
  
  <div class="span4"  >
    <center>
    
 <img src="https://farm8.staticflickr.com/7309/14023980183_82988736e5_o.jpg" width="370" height="250" alt="jointoday">

  </center>
</div> 

  <div class="span4">
    <center>

 <img src="https://farm8.staticflickr.com/7452/13980860416_7044d72aa0_o.jpg" width="370" height="250" alt="jointoday">

</center>
  </div> 

  <div class="span4">
  <center>
 <img src="https://farm6.staticflickr.com/5008/14001170302_64cb4aeece_o.jpg" width="370" height="250" alt="jointoday">

</center>
  </div>
</div>
</div>
</center>




<center>
<div class="row-fluid">
  
  <div class="span4"  >
    <center>
    
 <img src="https://farm8.staticflickr.com/7365/14000771272_a3c12bd0a0_o.jpg" width="370" height="250" alt="jointoday">

  </center>
</div> 

  <div class="span4">
    <center>

 <img src="https://farm8.staticflickr.com/7308/14003965735_54325017f2_o.jpg" width="370" height="250" alt="jointoday">

</center>
  </div> 

  <div class="span4">
  <center>
 <img src="https://farm8.staticflickr.com/7158/14004409504_2d2abaf16e_o.jpg" width="370" height="250" alt="jointoday">

</center>
  </div>
</div>
</div>
</center>



<center>
<div class="row-fluid">
  
  <div class="span4"  >
    <center>
    
 <img src="https://farm8.staticflickr.com/7273/14001161022_fc2406be1a_o.jpg" width="370" height="250" alt="jointoday">

  </center>
</div> 

  <div class="span4">
    <center>

 <img src="https://farm8.staticflickr.com/7346/14004798514_073cab5dd6_o.jpg" width="370" height="250" alt="jointoday">

</center>
  </div> 

  <div class="span4">
  <center>
 <img src="https://farm8.staticflickr.com/7437/14000771402_a5e6798d10_o.jpg" width="370" height="250" alt="jointoday">

</center>
  </div>
</div>
</div>
</center>

<br>
<br>
<hr>


<br>
<br>
<center>
<div class="row-fluid">
  
  <div class="span3"  >
    <center>
    
   <a href="http://www.chef29.com/users/sign_up" ><img src="https://farm3.staticflickr.com/2830/13400108224_ede3d928a7.jpg" width="225" height="250" alt="jointoday"></a>

  </center>
</div> 

  <div class="span3">
    <center>
 <a href="http://www.chef29.com/onmenu" ><img src="https://farm4.staticflickr.com/3782/13399873843_4180194a3e.jpg" width="225" height="250" alt="Menu"></a> 
</center>
  </div> 


  <div class="span3">
  <center>
<a href="http://www.chef29.com/how"><img src="https://farm8.staticflickr.com/7279/13400107704_bb215ac8c6.jpg" width="225" height="301" alt="howtobuy"></a>

</center>
  </div>

   <div class="span3"><center>
  <a href="http://www.chef29.com/orderpage" ><img src="https://farm4.staticflickr.com/3798/13399751675_49fea54123.jpg" width="225" height="380" alt="kart"></a>
</center>

  </div>

</div>

</center>





</body>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>


<script type="text/javascript">stLight.options({publisher: "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", doNotHash: false, doNotCopy: false, hashAddressBar: true});</script>

<script type="text/javascript">stLight.options({publisher: "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
var options={ "publisher": "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin", "googleplus", "pinterest", "baidu", "email", "blogger"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44036574-1', 'chef29.com');
  ga('send', 'pageview');

</script>
</html>

