<!DOCTYPE html>
<html>

<center>

<br><br>

<font color="red" size ="6" face = "Baskerville Old Face">本產品服務已停止提供。</font>

  <br><br>
</center>

<head>
  <% content_for :head do %>
    <meta property="fb:app_id"          content="479820998782220" /> 
    <meta property="og:type"            content="website" /> 
    <meta property="og:url"             content="http://www.chef29.com/menu" /> 
    <meta property="og:title"           content="Chef29 今晚大廚 -Menu 菜單上" /><meta property="og:description"     content="每週將推出新的外國料理，讓您在家享受料理大廚等級的美食。若您認同（買1給1）是在作有意義的事，請協助我們將Chef29 的服務分享給您的朋友，告訴他們購買的第一份餐點是免費的。" /> 
    <meta property="og:image"           content="http://farm3.staticflickr.com/2808/11474291736_e540e64d49_o.jpg" /> 
<% end %>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>
  <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>
</head>

<br><br>

<center>
<div class="row-fluid">
  
  <div class="span3"  >
    <center>
    
   <a href="http://www.chef29.com/users/sign_up" ><img src="https://farm3.staticflickr.com/2830/13400108224_ede3d928a7.jpg" width="225" height="250" alt="jointoday"></a>

  </center>
</div> 

  <div class="span3">
    <center>
 <a href="http://www.chef29.com/onmenu" ><img src="https://farm4.staticflickr.com/3782/13399873843_4180194a3e.jpg" width="225" height="250" alt="Menu"></a> 
</center>
  </div> 


  <div class="span3">
  <center>
<a href="http://www.chef29.com/how"><img src="https://farm8.staticflickr.com/7279/13400107704_bb215ac8c6.jpg" width="225" height="301" alt="howtobuy"></a>

</center>
  </div>

   <div class="span3"><center>
  <a href="http://www.chef29.com/orderpage" ><img src="https://farm4.staticflickr.com/3798/13399751675_49fea54123.jpg" width="225" height="380" alt="kart"></a>
</center>

  </div>

</div>

</center>

<br><br><br>


<body>
 <img src="https://farm6.staticflickr.com/5032/14246698891_5a710c00be_o.jpg" width="1447" height="447" alt="10688137965_0c67a948d6_o">

 <br><br><br>
 
<hr>

<br>
<br>
<br>

  <font size = "3" color= "red">。以下菜單訂購截止時間為 2014/6/23 星期一 下午 1:30分 </font>
<br>
  <font size = "3" color= "red">。餐點付款截止時間 2014/6/23 星期一 下午3:30分。 </font>
  <br>
  <font size = "3" color= "red">。開放訂購6/16-23，出貨日期 6/26-28 星期四，五，六出貨。 </font>
  <br>
  <font size = "3" color= "red">。每份餐點＄299 </font>
  

<br>
<br>
<br>
<br>
  <font size = "2" color= "blue">請點圖片查看菜單細節</font>
  <br>
  


<center>
 <div class="row-fluid">

  <div class="span4" >


<img src="https://farm3.staticflickr.com/2895/14247870728_7f933d0032_o.jpg" width="376" height="400" alt="1. Week Nov 8th" href="#video1" data-toggle="modal">

<br>  <br>
  <%= link_to "a poet 廚師 Floy Kuo", 'http://www.chef29.com/pins/chef29-floy-kuo' %>
    <br> <br>
    <%= link_to "餐點作品", 'http://www.chef29.com/users/a-poet-chef-floy-kuo' %>


<div id="video1" class="modal fade" tabindex="-1" data-width="500" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">1號餐點</h4>
  </div>

  <div class="modal-body">
   <center>

<img src="https://farm4.staticflickr.com/3868/14433144422_096b57ab67_b.jpg" width="1168" height="912" alt="1 nov 8th full">
</center>
<br><br><br>

<center>
<font color="red" size ="4" face = "Baskerville Old Face">(請備妥橄欖油，糖，鹽巴與黑胡椒。)</font>
</center>
  </div>
</div>
<br><br>
</div>



<div class="span4" >



<a><img src=" https://farm4.staticflickr.com/3917/14433345634_09e8f1e362_o.jpg" width="376" height="400" alt="1. Week Nov 8th" href="#video2" data-toggle="modal"></a>
  <br>  <br>
  <%= link_to "a poet 廚師 Floy Kuo", 'http://www.chef29.com/pins/chef29-floy-kuo' %>
    <br> <br>
    <%= link_to "餐點作品", 'http://www.chef29.com/users/a-poet-chef-floy-kuo' %>

<div id="video2" class="modal fade" tabindex="-1" data-width="500" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">2號餐點</h4>
  </div>

  <div class="modal-body">
   <center>

<img src="https://farm6.staticflickr.com/5511/14247825669_5ea80ae4e3_b.jpg" width="1156" height="1013" alt="Dish 2 nov 8th full">


</center>
<br><br><br>

<center>
<font color="red" size ="4" face = "Baskerville Old Face">(請備妥橄欖油，糖，鹽巴與黑胡椒。)</font>
</center>
  </div>
</div>

<br><br>
</div>



<div class="span4" >

<a><img src="https://farm4.staticflickr.com/3924/14431120141_55453ea976_o.jpg" width="376" height="400" alt="1. Week Nov 8th" href="#video3" data-toggle="modal"></a>


   <br>  <br>
  <%= link_to "a poet 廚師 Floy Kuo", 'http://www.chef29.com/pins/chef29-floy-kuo' %>
    <br> <br>
    <%= link_to "餐點作品", 'http://www.chef29.com/users/a-poet-chef-floy-kuo' %>

<div id="video3" class="modal fade" tabindex="-1" data-width="500" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">3號餐點</h4>
  </div>

  <div class="modal-body">
   <center>

<img src="https://farm6.staticflickr.com/5536/14433345644_006c6dfd64_b.jpg" width="1184" height="940" alt="dish 3 Nov 8th full">


</center>
<br><br><br>

<center>
<font color="red" size ="4" face = "Baskerville Old Face">(請備妥橄欖油，糖，鹽巴與黑胡椒。)</font>
</center>
  </div>
</div>

  </div>

 </div>
</center>


<hr>



<center>
 <div class="row-fluid">

  <div class="span4" >



<a><img src="https://farm3.staticflickr.com/2916/14247870558_8ac9c031e7_o.jpg" width="376" height="400" alt="1. Week Nov 8th" href="#video4" data-toggle="modal"></a>



<br>  <br>
  <%= link_to "a poet 廚師 Floy Kuo", 'http://www.chef29.com/pins/chef29-floy-kuo' %>
    <br> <br>
    <%= link_to "餐點作品", 'http://www.chef29.com/users/a-poet-chef-floy-kuo' %>

<div id="video4" class="modal fade" tabindex="-1" data-width="500" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">4號餐點</h4>
  </div>

  <div class="modal-body">
   <center>

<img src="https://farm4.staticflickr.com/3881/14433346224_97288506be_b.jpg" width="1168" height="912" alt="1 nov 8th full">


</center>
<br><br><br>

<center>
<font color="red" size ="4" face = "Baskerville Old Face">(請備妥橄欖油，糖，鹽巴與黑胡椒。)</font>
</center>
  </div>
</div>
<br><br>
</div>



<div class="span4" >


<a><img src="https://farm6.staticflickr.com/5592/14454656583_751b13fed9_o.jpg" width="376" height="400" alt="1. Week Nov 8th" href="#video5" data-toggle="modal"></a>

<br>  <br>
  <%= link_to "a poet 廚師 Floy Kuo", 'http://www.chef29.com/pins/chef29-floy-kuo' %>
    <br> <br>
    <%= link_to "餐點作品", 'http://www.chef29.com/users/a-poet-chef-floy-kuo' %>

<div id="video5" class="modal fade" tabindex="-1" data-width="500" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">5號餐點</h4>
  </div>

  <div class="modal-body">
   <center>

<img src="https://farm4.staticflickr.com/3887/14431121071_9f5976832e_b.jpg" width="1156" height="1013" alt="Dish 2 nov 8th full">


</center>
<br><br><br>

<center>
<font color="red" size ="4" face = "Baskerville Old Face">(請備妥橄欖油，糖，鹽巴與黑胡椒。)</font>
</center>
  </div>
</div>

<br><br>
</div>



<div class="span4" >

<a><img src="https://farm6.staticflickr.com/5560/14433345414_f95fedbaf0_o.jpg" width="376" height="400" alt="1. Week Nov 8th" href="#video6" data-toggle="modal"></a>

<br>  <br>
  <%= link_to "a poet 廚師 Floy Kuo", 'http://www.chef29.com/pins/chef29-floy-kuo' %>
    <br> <br>
    <%= link_to "餐點作品", 'http://www.chef29.com/users/a-poet-chef-floy-kuo' %>

<div id="video6" class="modal fade" tabindex="-1" data-width="500" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">6號餐點</h4>
  </div>

  <div class="modal-body">
   <center>

<img src="https://farm4.staticflickr.com/3838/14434467575_cac9b0ffec_b.jpg" width="1184" height="940" alt="dish 3 Nov 8th full">


</center>
<br><br><br>

<center>
<font color="red" size ="4" face = "Baskerville Old Face">(請備妥橄欖油，糖，鹽巴與黑胡椒。)</font>
</center>
  </div>
</div>

  </div>

 </div>
</center>

<hr>
<br>
<br>

 <a href="http://www.chef29.com/fruit" ><img src="https://farm3.staticflickr.com/2899/14001682331_de8be0e061_h.jpg" width="1225" height="650" alt="jointoday"></a>
<br>
<br>

<br>
<br>
<br>

<br>
<br>


<center>
<div class="row-fluid">
  
  <div class="span3"  >
    <center>
    
   <a href="http://www.chef29.com/users/sign_up" ><img src="https://farm3.staticflickr.com/2830/13400108224_ede3d928a7.jpg" width="225" height="250" alt="jointoday"></a>

  </center>
</div> 

  <div class="span3">
    <center>
 <a href="http://www.chef29.com/onmenu" ><img src="https://farm4.staticflickr.com/3782/13399873843_4180194a3e.jpg" width="225" height="250" alt="Menu"></a> 
</center>
  </div> 


  <div class="span3">
  <center>
<a href="http://www.chef29.com/how"><img src="https://farm8.staticflickr.com/7279/13400107704_bb215ac8c6.jpg" width="225" height="301" alt="howtobuy"></a>

</center>
  </div>

   <div class="span3"><center>
  <a href="http://www.chef29.com/orderpage" ><img src="https://farm4.staticflickr.com/3798/13399751675_49fea54123.jpg" width="225" height="380" alt="kart"></a>
</center>

  </div>

</div>

</center>


</body>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>


<script type="text/javascript">stLight.options({publisher: "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", doNotHash: false, doNotCopy: false, hashAddressBar: true});</script>

<script type="text/javascript">stLight.options({publisher: "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
var options={ "publisher": "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin", "googleplus", "pinterest", "baidu", "email", "blogger"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44036574-1', 'chef29.com');
  ga('send', 'pageview');

</script>
</html>

