 <tr>
 
 		<td><%= orderlist.id %></td>
 		<td> <%= orderlist.created_at %></td>
 		<td> <%= link_to orderlist.user.name, orderlist.user%></td>
 		<td> <%= link_to orderlist.user.email, orderlist.user%></td>
 		
        <td><%= link_to 'Show', orderlist %></td>
         <td><%= link_to '刪除', orderlist, method: :delete, data: { confirm: '你確定嗎?' } %></td>
        
  </tr>

  